{% extends 'base.html' %}

{% block header %}
  <div class="row">
    <div class="col-6">
      <h1 class="fs2-text my-3">{% block title %}{{ patient['name'] }}{% endblock %}</h1>
    </div>
    <div class="col-6">
      <div class="my-3 d-grid gap-2 d-flex justify-content-end">
        {% if g.user.id == diagnosis['author_id'] %}
          <a class="btn btn-primary" href="{{ url_for('diagnosis.update_anc', diagnosis_id=diagnosis['id']) }}">Edit</a>
        {% endif %}
        <a class="btn btn-secondary" href="{{ url_for('patient.view_patient_anc', patient_id=patient.id) }}">Back</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div>
    <p>Sex: {{ patient['sex'] }}</p>
    <p>DOB: {{ patient['date_of_birth'] }}</p>
    <p>Phone: {{ patient['phone'] }}</p>
    <p>Address: {{ patient['address'] }}</p>
  </div>

  {% if diagnosis['compulsory'] %}
    <h3 class="fs2-text">Main Entry</h3>
    <p>Expected Date of Delivery: {{ diagnosis['expected_delivery_date'] }}</p>
    <p>Termination of Pregnancy: {{ diagnosis['terminate'] }}</p>
    <p>Mother's Height (cm): {{ diagnosis['height'] }}</p>
    <p>Last Menstrual Period: {{ diagnosis['last_menstrual_period'] }}</p>
    <p>Parity: {{ diagnosis['parity'] }}</p>
    <p>Number of Living Children: {{ diagnosis['living_children'] }}</p>
    <p>Gravida: {{ diagnosis['gravida'] }}</p>
    <p>Medical and Surgical Complications: {{ diagnosis['medical_surgical_complications'] }}</p>
    <p>Obstetric & Other Complications: {{ diagnosis['obstetric_other_complications'] }}</p>
  {% else %}
    <h3 class="fs2-text">Visit Update</h3>
    <p>Mother's Weight (kg): {{ diagnosis['weight'] }}</p>
    <p>Gestation (weeks): {{ diagnosis['gestation'] }}</p>
    <p>Blood Pressure: {{ diagnosis['blood_pressure'] }}</p>
    <p>Urine Dipstick Test: {{ diagnosis['urine_dipstick'] }}</p>
    <p>Assessment of Fetus: {{ diagnosis['fetal_assessment'] }}</p>
    <p>Fetal Heartbeat: {{ diagnosis['fetal_heartbeat'] }}</p>
    <p>Symphysiofundal Height: {{ diagnosis['symphysiofundal_height'] }}</p>
    <p>Complications: {{ diagnosis['complications'] }}</p>
    <p>Vaccination Administered: {{ diagnosis['vaccination'] }}</p>
    <p>Dispensed Folic Acid: {{ diagnosis['folic_acid'] }}</p>
    <p>Dispensed Mendabazole: {{ diagnosis['mendabazole'] }}</p>
    <p>Hepatitis Test: {{ diagnosis['hepatitis'] }}</p>
  {% endif %}
  <hr>
{% endblock %}