{% extends 'base.html' %}

{% block header %}
  <div class="row">
    <div class="col-6">
      <h1 class="fs2-text my-3">{% block title %}{{ patient['name'] }}{% endblock %}</h1>
    </div>
    <div class="col-6">
      <div class="my-3 d-grid gap-2 d-flex justify-content-end">
        {% if g.user.id == diagnosis['author_id'] %}
          <a class="btn btn-primary" href="{{ url_for('diagnosis.update_anc', diagnosis_id=diagnosis['id']) }}">Edit កែសម្រួល</a>
        {% endif %}
        <a class="btn btn-secondary" href="{{ url_for('patient.view_patient_anc', patient_id=patient.id) }}">Back ត្រឡប់ទៅវិញ។</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div>
    <p>Sex ភេទ: {{ patient['sex'] }}</p>
    <p>DOB ថ្ងៃខែឆ្នាំកំណើត: {{ patient['date_of_birth'] }}</p>
    <p>Phone លេខ​ទូរស័ព្ទ: {{ patient['phone'] }}</p>
    <p>Address អាសយដ្ឋាន: {{ patient['address'] }}</p>
  </div>

  <hr>

  {% if diagnosis['compulsory'] %}
    <h3 class="fs2-text">Main Entry ធាតុសំខាន់</h3>
    <p>Expected Date of Delivery ថ្ងៃសម្រាលរំពឺងទុក: {{ diagnosis['expected_delivery_date'] }}</p>
    <p>Termination of Pregnancy ការបញ្ចប់គភ៌ចុងក្រោយ: {{ diagnosis['terminate'] }}</p>
    <p>Mother's Height កម្ពស់របស់ម្តាយ (cm): {{ diagnosis['height'] }}</p>
    <p>Last Menstrual Period ថ្ងៃមករដូវចុងក្រោយ: {{ diagnosis['last_menstrual_period'] }}</p>
    <p>Parity ចំនួនសម្រាល (រួមទាំងទារកបច្ចុប្បន្ន): {{ diagnosis['parity'] }}</p>
    <p>Number of Living Children ចំនួនកូននៅរស់: {{ diagnosis['living_children'] }}</p>
    <p>Gravida ចំនួនពរពោះ (​រួមទាំងការពរពោះបច្ចុប្បន្ន): {{ diagnosis['gravida'] }}</p>
    <p>Medical and Surgical Complications ការត្រៀម ប្រឈមនូវផលវិបាក វេជ្ជសាស្រ្ត​ និង​ ការវះកាត់:
      {% if diagnosis['medical_surgical_complications'] == '1' %}
          Essential Hypertension ជំងឺលើសសម្ពាធឈាម
      {% elif diagnosis['medical_surgical_complications'] == '2' %}
          Pre-eclampsia ជំងឺបម្រុងក្រឡាភ្លើង
      {% elif diagnosis['medical_surgical_complications'] == '3' %}
          Pregnancy-induced Hypertension ការមានផ្ទៃពោះបណ្តាលអោយមានជំងឺលើសសម្ពាធឈាម
      {% elif diagnosis['medical_surgical_complications'] == '4' %}
          Eclampsia ជំងឺក្រឡាភ្លើង
      {% elif diagnosis['medical_surgical_complications'] == '5' %}
          Renal Disease ជំងឺតម្រងនោម
      {% elif diagnosis['medical_surgical_complications'] == '6' %}
          Existing Diabetes ជំងឺទឺកនោមផ្អែមពីកំណើត
      {% elif diagnosis['medical_surgical_complications'] == '7' %}
          Impaired GTT បម្រែបម្រួល​ ការធ្វើតេស្តស្ករ​ (GTT)
      {% elif diagnosis['medical_surgical_complications'] == '8' %}
          Diabetes ជំងឺទឺកនោមផ្អែម
      {% elif diagnosis['medical_surgical_complications'] == '9' %}
          Anaemia (<10gm%) ជំងឺស្លេកស្លាំង(<10gm%)
      {% elif diagnosis['medical_surgical_complications'] == '10' %}
          Thyrotoxicosis ជំងឺឡើងជាតិពុលនៅក្រពេញក
      {% elif diagnosis['medical_surgical_complications'] == '11' %}
          Cardiac Disease ជំងឺបេះដូង
      {% elif diagnosis['medical_surgical_complications'] == '12' %}
          STD (Syphilis/Warts/AIDS etc.) ជំងឺកាមរោគ(មេរោគស្វាយ/ឬស/មេរោគអេដស៏ និង ផ្សេងទៀត)
      {% elif diagnosis['medical_surgical_complications'] == '13' %}
          Urinary Tract Infection ការបង្កររោគនៅផ្លូវទឺកនោម
      {% elif diagnosis['medical_surgical_complications'] == '14' %}
          Uterine and Cervical Surgery ការវះកាត់ ស្បូន នឹង មាត់ស្បូន
      {% elif diagnosis['medical_surgical_complications'] == '15' %}
          SLE/Other Autoimmune Diseases ជំងឺលុយពីស/ជំងឺប្រឆាំងនឹងប្រព័ន្ធការពារខ្លួនឯង
      {% elif diagnosis['medical_surgical_complications'] == '16' %}
          Hypothyroidism ជំងឺថយចុះជាតិអុីយ៉ូត
      {% elif diagnosis['medical_surgical_complications'] == '17' %}
          Other Medical Complications (Specify) ផលវិបាកសុខភាពដទៃផ្សេងទៀត
      {% else %}
          Not Specified
      {% endif %}
    </p>
    <p>Obstetric & Other Complications ការត្រៀមប្រឈមនូវផលវិបាក សម្ភព​ និង​ ផ្សេងៗ​ទៀត:
        {% if diagnosis['obstetric_other_complications'] == '1' %}
            Previous CS ការវះកាត់យកកូនពីមុន
        {% elif diagnosis['obstetric_other_complications'] == '2' %}
            Preterm Labour (present pregnancy) ការឈឺពោះមិនគ្រប់ខែ(ការពរពោះបច្ចុប្បន្ន)
        {% elif diagnosis['obstetric_other_complications'] == '3' %}
            Placenta Praevia សុកពាំងមាត់ស្បូន
        {% elif diagnosis['obstetric_other_complications'] == '4' %}
            Other APH ការធ្លាក់ឈាមពេលមានផ្ទៃពោះ ផ្សេងទៀត
        {% elif diagnosis['obstetric_other_complications'] == '5' %}
            IUGR/Suspected IUGR កូនលូតលាស់មិនគ្រប់គីឡូ/ សង្ស័យ កូនលូតលាស់មិនគ្រប់គីឡូ
        {% elif diagnosis['obstetric_other_complications'] == '6' %}
            Polyhydramnios ទឹកភ្លោះច្រើន
        {% elif diagnosis['obstetric_other_complications'] == '7' %}
            Previous Neonatal ទាក់ទងនឹង ទារកទើបនឹងកើតពីមុន
        {% elif diagnosis['obstetric_other_complications'] == '8' %}
            Recurrent Abortion ការរំលូតកូនថ្មីឡើងវិញទៀត
        {% elif diagnosis['obstetric_other_complications'] == '9' %}
            Foetal Anomalies ទម្រង់ទារកមិនប្រក្រតី
        {% elif diagnosis['obstetric_other_complications'] == '10' %}
            Breech ទម្រង់ទារកហុចគូទ
        {% elif diagnosis['obstetric_other_complications'] == '11' %}
            Brow ទម្រង់ទារកបង្ហាញថ្ងាស
        {% elif diagnosis['obstetric_other_complications'] == '12' %}
            Face ទម្រង់ទារកបង្ហាញមុខ
        {% elif diagnosis['obstetric_other_complications'] == '13' %}
            Oblique/Traverse Lie ទម្រង់ទារកកាត់ទទឹង/កាត់បណ្តោយ
        {% elif diagnosis['obstetric_other_complications'] == '14' %}
            Twins កូនភ្លោះ២
        {% elif diagnosis['obstetric_other_complications'] == '15' %}
            Triplets កូនភ្លោះ៣
        {% elif diagnosis['obstetric_other_complications'] == '16' %}
            Other Multiple Pregnancies ការពរពោះច្រើនដង
        {% elif diagnosis['obstetric_other_complications'] == '17' %}
            Other Medical Complications (Specify) ផលវិបាកសុខភាពដទៃផ្សេងទៀត
        {% else %}
            Not Specified
        {% endif %}
    </p>

  {% else %}
    <h3 class="fs2-text">Visit Update ទស្សនាបច្ចុប្បន្នភាព</h3>
    <p>Mother's Weight ទម្ងន់របស់ម្តាយ (kg): {{ diagnosis['weight'] }}</p>
    <p>Gestation (weeks) អាយុគភ៌ (សប្តាហ៏): {{ diagnosis['gestation'] }}</p>
    <p>Blood Pressure វាស់សម្ពាធឈាម: {{ diagnosis['blood_pressure'] }}</p>
    <p>Urine Dipstick Test ការធ្វើតេស្តទឺកនោម: {{ diagnosis['urine_dipstick'] }}</p>
    <p>Assessment of Fetus ការវាយតម្លៃលើទារក: {{ diagnosis['fetal_assessment'] }}</p>
    <p>Fetal Heartbeat ចង្វាក់បេះដូងទារក: {{ diagnosis['fetal_heartbeat'] }}</p>
    <p>Symphysiofundal Height វាស់កម្ពស់ស្បូន: {{ diagnosis['symphysiofundal_height'] }}</p>
    <p>Complications មានផលវិបាកផ្សេងថ្មីទៀត: {{ diagnosis['complications'] }}</p>
    <p>Vaccination Administered តើមានការ ចាក់វ៉ាក់សុាំងឬអត់: {{ diagnosis['vaccination'] }}</p>
    <p>Dispensed Folic Acid តើ​មានការលេបថ្នាំជាតិដែក (​ហ្វូលិកអាសុីត) ឬអត់: {{ diagnosis['folic_acid'] }}</p>
    <p>Dispensed Mendabazole តើមាន​​ ប្រើថ្នាំទំលាក់ព្រូនឬទេ: {{ diagnosis['mendabazole'] }}</p>
    <p>Hepatitis Test ការធ្វើតេស្តរកមេរោគ រលាកថ្លើម: {{ diagnosis['hepatitis'] }}</p>
  {% endif %}
  <hr>
{% endblock %}