{% extends 'base.html' %}

{% block header %}
  <h1 class="my-3">{% block title %}Edit Patient Basic Profile កែសម្រួលប្រវត្តិរូបអ្នកជំងឺ{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Name ឈ្មោះ</label>
      <input type="text" name="name" class="form-control" id="name" reqired value="{{ request.form.get('name', default=patient.name) }}">
    </div>
    <div class="mb-3">
      <label for="sex" class="form-label">Sex ភេទ</label>
      <select id="sex" name="sex" class="form-select" >
        <option value="male" {% if request.form.get('sex', default=patient.sex) == 'male' %} selected {% endif %}>Male បុរស</option>
        <option value="female" {% if request.form.get('sex', default=patient.sex) == 'female' %} selected {% endif %}>Female ស្ត្រី</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="date_of_birth" class="form-label">Date of Birth ថ្ងៃខែឆ្នាំកំណើត</label>
      <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" required value="{{ request.form.get('date_of_birth', default=patient.date_of_birth) }}">
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Phone លេខទូរស័ព្ទ</label>
      <input type="text" name="phone" class="form-control" id="phone" reqired value="{{ request.form.get('phone', default=patient.phone) }}">
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Address អាស័យដ្ធាន</label>
      <textarea class="form-control" id="address" name="address" rows="3">{{ request.form.get('address', default=patient.address) }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update ធ្វើបច្ចុប្បន្នភាព</button>
    <a class="btn btn-secondary" href="{{ url_for('main.index') }}">Back ត្រឡប់ទៅវិញ។</a>
    <button id="delete_trigger" class="btn btn-danger float-end" type="submit" onclick="return deletePatient()">Delete លុប</button>
</form>

<form id="delete_form" action="{{ url_for('patient.delete_patient', patient_id=patient['id']) }}" method="post">

</form>

<script>
  deletePatient = () => {
    if (confirm('Confirm to delete this patient?')) {
      document.getElementById('delete_form').submit();
    }

    return false;
  }
</script>

{% endblock %}
