{% extends 'base.html' %}

{% block header %}
  <div class="row">
    <div class="col-6">
      <h1 class="fs2-text my-3">{% block title %}{{ patient['name'] }}{% endblock %}</h1>
    </div>
    <div class="col-6">
      <div class="my-3 d-grid gap-2 d-flex justify-content-end">
        <a class="btn btn-secondary" href="{{ url_for('patient.view_patient', patient_id=patient.id) }}">Back ត្រឡប់ទៅវិញ។</a>
        <a class="btn btn-primary" href="{{ url_for('diagnosis.add_anc_compulsory', patient_id=patient.id) }}">New Main Entry ប្រមូលព័ត៌មានសំខាន់ៗ</a>
        <a class="btn btn-primary" href="{{ url_for('diagnosis.add_anc_optional', patient_id=patient.id) }}">Log new ANC visit ចុះឈ្មោះចូលមើលការថែទាំមុនពេលសម្រាលថ្មី។</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div>
    <p>Expected Date of Delivery ថ្ងៃសម្រាលរំពឺងទុក: {{ current_info['expected_delivery_date'] }}</p>
    <p>Termination of Pregnancy ការបញ្ចប់គភ៌ចុងក្រោយ: {{ current_info['terminate'] }}</p>
    <p>Mother's Height កម្ពស់របស់ម្តាយ (cm): {{ current_info['height'] }}</p>
    <p>Last Menstral Period ថ្ងៃមករដូវចុងក្រោយ: {{ current_info['last_menstrual_period'] }}</p>
    <p>Parity ចំនួនសម្រាល (រួមទាំងទារកបច្ចុប្បន្ន): {{ current_info['parity'] }}</p>
    <p>Number of Living Children ចំនួនកូននៅរស់: {{ current_info['living_children'] }}</p>
    <p>Gravida ចំនួនពរពោះ: {{ current_info['gravida'] }}</p>
    <p>Medical and Surgical Complications ការត្រៀម ប្រឈមនូវផលវិបាក វេជ្ជសាស្រ្ត​ និង​ ការវះកាត់:
      {% if current_info['medical_surgical_complications'] == '1' %}
          Essential Hypertension ជំងឺលើសសម្ពាធឈាម
      {% elif current_info['medical_surgical_complications'] == '2' %}
          Pre-eclampsia ជំងឺបម្រុងក្រឡាភ្លើង
      {% elif current_info['medical_surgical_complications'] == '3' %}
          Pregnancy-induced Hypertension ការមានផ្ទៃពោះបណ្តាលអោយមានជំងឺលើសសម្ពាធឈាម
      {% elif current_info['medical_surgical_complications'] == '4' %}
          Eclampsia ជំងឺក្រឡាភ្លើង
      {% elif current_info['medical_surgical_complications'] == '5' %}
          Renal Disease ជំងឺតម្រងនោម
      {% elif current_info['medical_surgical_complications'] == '6' %}
          Existing Diabetes ជំងឺទឺកនោមផ្អែមពីកំណើត
      {% elif current_info['medical_surgical_complications'] == '7' %}
          Impaired GTT បម្រែបម្រួល​ ការធ្វើតេស្តស្ករ​ (GTT)
      {% elif current_info['medical_surgical_complications'] == '8' %}
          Diabetes ជំងឺទឺកនោមផ្អែម
      {% elif current_info['medical_surgical_complications'] == '9' %}
          Anaemia (<10gm%) ជំងឺស្លេកស្លាំង(<10gm%)
      {% elif current_info['medical_surgical_complications'] == '10' %}
          Thyrotoxicosis ជំងឺឡើងជាតិពុលនៅក្រពេញក
      {% elif current_info['medical_surgical_complications'] == '11' %}
          Cardiac Disease ជំងឺបេះដូង
      {% elif current_info['medical_surgical_complications'] == '12' %}
          STD (Syphilis/Warts/AIDS etc.) ជំងឺកាមរោគ(មេរោគស្វាយ/ឬស/មេរោគអេដស៏ និង ផ្សេងទៀត)
      {% elif current_info['medical_surgical_complications'] == '13' %}
          Urinary Tract Infection ការបង្កររោគនៅផ្លូវទឺកនោម
      {% elif current_info['medical_surgical_complications'] == '14' %}
          Uterine and Cervical Surgery ការវះកាត់ ស្បូន នឹង មាត់ស្បូន
      {% elif current_info['medical_surgical_complications'] == '15' %}
          SLE/Other Autoimmune Diseases ជំងឺលុយពីស/ជំងឺប្រឆាំងនឹងប្រព័ន្ធការពារខ្លួនឯង
      {% elif current_info['medical_surgical_complications'] == '16' %}
          Hypothyroidism ជំងឺថយចុះជាតិអុីយ៉ូត
      {% elif current_info['medical_surgical_complications'] == '17' %}
          Other Medical Complications (Specify) ផលវិបាកសុខភាពដទៃផ្សេងទៀត
      {% else %}
          Not Specified
      {% endif %}
    </p>
    <p>Obstetric & Other Complications ការត្រៀមប្រឈមនូវផលវិបាក សម្ភព​ និង​ ផ្សេងៗ​ទៀត:
        {% if current_info['obstetric_other_complications'] == '1' %}
            Previous CS ការវះកាត់យកកូនពីមុន
        {% elif current_info['obstetric_other_complications'] == '2' %}
            Preterm Labour (present pregnancy) ការឈឺពោះមិនគ្រប់ខែ(ការពរពោះបច្ចុប្បន្ន)
        {% elif current_info['obstetric_other_complications'] == '3' %}
            Placenta Praevia សុកពាំងមាត់ស្បូន
        {% elif current_info['obstetric_other_complications'] == '4' %}
            Other APH ការធ្លាក់ឈាមពេលមានផ្ទៃពោះ ផ្សេងទៀត
        {% elif current_info['obstetric_other_complications'] == '5' %}
            IUGR/Suspected IUGR កូនលូតលាស់មិនគ្រប់គីឡូ/ សង្ស័យ កូនលូតលាស់មិនគ្រប់គីឡូ
        {% elif current_info['obstetric_other_complications'] == '6' %}
            Polyhydramnios ទឹកភ្លោះច្រើន
        {% elif current_info['obstetric_other_complications'] == '7' %}
            Previous Neonatal ទាក់ទងនឹង ទារកទើបនឹងកើតពីមុន
        {% elif current_info['obstetric_other_complications'] == '8' %}
            Recurrent Abortion ការរំលូតកូនថ្មីឡើងវិញទៀត
        {% elif current_info['obstetric_other_complications'] == '9' %}
            Foetal Anomalies ទម្រង់ទារកមិនប្រក្រតី
        {% elif current_info['obstetric_other_complications'] == '10' %}
            Breech ទម្រង់ទារកហុចគូទ
        {% elif current_info['obstetric_other_complications'] == '11' %}
            Brow ទម្រង់ទារកបង្ហាញថ្ងាស
        {% elif current_info['obstetric_other_complications'] == '12' %}
            Face ទម្រង់ទារកបង្ហាញមុខ
        {% elif current_info['obstetric_other_complications'] == '13' %}
            Oblique/Traverse Lie ទម្រង់ទារកកាត់ទទឹង/កាត់បណ្តោយ
        {% elif current_info['obstetric_other_complications'] == '14' %}
            Twins កូនភ្លោះ២
        {% elif current_info['obstetric_other_complications'] == '15' %}
            Triplets កូនភ្លោះ៣
        {% elif current_info['obstetric_other_complications'] == '16' %}
            Other Multiple Pregnancies ការពរពោះច្រើនដង
        {% elif current_info['obstetric_other_complications'] == '17' %}
            Other Medical Complications (Specify) ផលវិបាកសុខភាពដទៃផ្សេងទៀត
        {% else %}
            Not Specified
        {% endif %}
    </p>
  </div>
  <div>
  {% for d in diagnosis %}
  <article class="patient">
    <header>
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              {% if d[0]['compulsory'] %}
                <h3 class="fs2-text">Main Entry</h3>
              {% else %}
                <h3 class="fs2-text">Visit Update</h3>
              {% endif %}
            </div>
            <div class="col-4">
                <div class="d-grid gap-2 d-flex justify-content-end">
                    {% if g.user.id == d[0].author_id %}
                      <a class="btn btn-outline-primary" href="{{ url_for('diagnosis.update_anc', diagnosis_id=d[0]['id']) }}">Edit កែសម្រួល</a>
                    {% endif %}
                    <a class="btn btn-outline-primary" href="{{ url_for('diagnosis.view_anc', diagnosis_id=d[0]['id']) }}">View ទិដ្ឋភាព</a>
                </div>
            </div>
          </div>

          <div class="about">by {{ d[1]['username'] }} on {{ d[0]['created'].strftime('%Y-%m-%d') }}</div>
        </div>
      </div>
    </header>
  </article>
  {% endfor %}
  </div>
  {{ pagination.links }}
{% endblock %}