{% extends 'base.html' %}

{% block header %}
  <div class="row my-3">
    <div class="col-3 col-md-2">
      <img src="https://source.boringavatars.com/beam/160/{{ user.id }}?colors=65cccc,ffcc66,cc99cc,99cc99,f99156" alt="Boring Avatar" style="max-width: 100%;">
    </div>
    <div class="col-6 d-flex align-items-center">
      <div class="d-flex flex-column align-items-left">
        <h1>{% block title %}{{ user.username }}{% endblock %}</h1>
        <h4>{% if user.is_admin %} Administrative User {% else %} Standard User {% endif %}</h4>
      </div>
    </div>
  </div>
{% endblock %}

  {% block content %}
    <div>
    <h1 class="my-3">Diagnosis History</h1>
    <div class="row">
      <div class="col-4">
        <a class="btn btn-primary" href="{{ url_for('user.recent_diagnosis', type=0) }}">Recent Ante Natal Care ({{ anc_count }})</a>
      </div>
      <div class="col-4">
        <a class="btn btn-primary" href="{{ url_for('user.recent_diagnosis', type=1) }}">Recent Labour and Delivery Records ({{ ldr_count }})</a>
      </div>
      <div class="col-4">
        <a class="btn btn-primary" href="{{ url_for('user.recent_diagnosis', type=2) }}">Recent Post Natal Care ({{ pnc_count }})</a>
      </div>
    </div>
    </div>
  {% endblock %}